

span{
    display: flex;
    font-size: 2vmax;
    width: 8%;
    top: 10px;
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.671);
    border-radius: 2vmax;
    margin:2vmax;
    text-align: center;
    padding: 2vmax;
}


.main-Div{
    width: 80vmax;
    height: 45vmax;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10%;
    background-color: black;
    
}


.Character{
    position: absolute;
    margin: 4vmax;
    width: 45%;
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
}

.Character-1{
    position: absolute;
    margin: 30px;
    width: 45%;
    border-radius: 10px;
}

.RightPanel{
    position: absolute;
    width: 42%;
    height: 78%;
    background-color: rgb(70, 70, 70);
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    margin-left: 43vmax;
    margin-top: 4vmax;
}

.Character-clothes{
    right: 0;
    margin-top: 1vmax;
    margin-right:7vmax;
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
    
    
}

.Character-clothes-1{
    right: 0;
    margin-top: 6vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
}

.Character-clothes-2{
    right: 0;
    margin-top: 11vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
}
.Character-clothes-3{
    right: 0;
    margin-top: 16vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
}

.Character-clothes-4{
    right: 0;
    margin-top: 21vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
}

.Character-clothes-5{
    right: 0;
    margin-top: 26vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
}

.Character-clothes-6{
    right: 0;
    margin-top: 31vmax;
    margin-right:7vmax;
    
    width: 10vmax; height: 10vmax;
    position: absolute;
    border-radius: 10px;
}
.SideBtn{
    float: right;
    width:50%;
    height:50%
}

.clothes-change{
    position: absolute;
    right: 0;    bottom: 0;
    margin-right: 13vmax;
    margin-top: 30px;
}
i{
    margin: 1vmin;
}


.Character-color button{
    float: right;
    border: 0.5vmin solid rgba(0, 0, 0, 0.514);
    width: 5vmax;   height:5vmax;
    border-radius: 35px;
    margin-top: 15vmax;
    margin-right: 3vmax;
    
}


.change-color-white{
    background-color: white;
}
.change-color-red{
    background-color: orange;
}
.change-color-yellow{
    background-color: yellow;
}
.change-color-blue{
    background-color: blue
}
.change-color-black{
    background-color: black
}

.Card{
    background-color: white;
    border-radius: 10px;
    width: 15vmax;
    margin: 1vmax;
    opacity: 90%;
}

.Card-1{
    border: 5px;
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 20px;
}


.footer{
    font-weight: bold;
    position: fixed;
    left: 0; bottom: 0;
    padding-top: 5px ;
    text-align: center;
    height: 25px;    width: 100%;
    background: rgba(49, 49, 49, 0.651)
}
.footer a{
    text-decoration: none;
    color: white;
}



@media (max-width:1242px){
    .clothes-change{
        margin-right: 11vmax; margin-bottom: 8vmax;
    }
}

